<div class="main-content">
    <div class="page-header">
        <h1>New creative</h1>
    </div>
    <div class="col-md-7">
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>

</div>
<%= javascript_include_tag "creatives" %>

